.filter-block__title {
    margin: 0;
    margin-bottom: 25px;
    margin-top: 9px;
    padding: 0;

    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    text-transform: uppercase;
}

.filter-block__filter-form fieldset {
    padding: 0;
    margin-bottom: 24px;
    border: none;
}

.filter-block__filter-form legend {
    margin-bottom: 12px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.filter-block__filter-form label {
    padding-left: 30px;
}