.header-block {
    height: 94px;
    position: relative;

    display: flex;
    align-items: center;
}

.header-left-block__wrapper {
    position: absolute;
    top: 0;
    left: 668px;
    
    display: flex;
    justify-content: flex-end;
}

.header-left-block {
    width: 300%;
    height: 94px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 45px 0px;

    background-color: $akcent;
}

.header-left-block__inner-wrapper {
    width: 668px;
    display: flex;
    align-items: center;
}

.header-left-block__inner-wrapper>* {
    margin-right: 40px;
}

.header-left-block__catalog-snap {
    position: relative;
    padding-left: 36px;

    font-weight: bold;
    color: #ffffff;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 3px;
        background-color: #ffffff;
        box-shadow: 0 8px #ffffff, 0 16px #ffffff;
    }
}

.header-left-block__search-snap {
    width: 46px;
    height: 46px;

    border: 2px solid #FFFFFF;

    background-image: url(../images/fon/search-icon.png);
}

.header-right-block {
    width: 492px;
    margin-left: auto;
}