.header-block {
    height: 94px;
    position: relative;

    display: flex;
    align-items: center;
}

.header-left-block__wrapper {
    position: absolute;
    top: 0;
    left: 668px;
    
    display: flex;
    justify-content: flex-end;
}

.header-left-block {
    width: 300%;
    height: 94px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 45px 0px;

    background-color: $akcent;
}

.header-left-block__inner-wrapper {
    width: 668px;
    display: flex;
    align-items: center;
}

.header-left-block__inner-wrapper>* {
    margin-right: 40px;
}

.header-left-block__catalog-snap {
    position: relative;
    padding-left: 36px;

    font-weight: bold;
    color: #ffffff;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 3px;
        background-color: #ffffff;
        box-shadow: 0 8px #ffffff, 0 16px #ffffff;
    }
}

.header-left-block__search-snap {
    width: 46px;
    height: 46px;
    margin-left: auto;

    border: 2px solid #FFFFFF;

    background-image: url(../images/fon/search-icon.png);
}

.header-right-block {
    width: 492px;
    margin-left: auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right-block__site-nav {
    @include display-flex();
}

.site-nav__list {
    width: 152px;
    justify-content: space-between;
}

.site-nav__item {
	@include display-flex();
	width: 32px;
    height: 32px;
    
    border: none;
	background-color: transparent;
	cursor: pointer;
	
	background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
}

.site-nav__item--favorite {
    background-image: url(../images/fon/favorite-icon.png);
}

.site-nav__item--login {
    background-image: url(../images/fon/login-icon.png);
}

.site-nav__item--basket {
    background-image: url(../images/fon/basket-icon.png);
}

.site-nav__btn {
    width: 219px;
    height: 46px;
    margin-left: 40px;
}