.page-main--login-profile {
    display: grid;

    grid-column-gap: 40px;
    grid-row-gap: 22px;
    grid-template-columns: 320px auto;
    grid-template-rows: 20px 536px auto;
    grid-template-areas: "breadcrumbs breadcrumbs" "aside content" ". content";
}

.page-main--login-profile .breadcrumbs-nav {
    grid-area: breadcrumbs;
}

.profile-block-main {
    grid-area: content;
}

.profile-block-aside {
    grid-area: aside;
}

.progress-bar {
    height: 150px;
    background-color: rgb(71, 135, 155);
}

.scale {
    position: relative;
    width: 320px;
    height: 20px;

    background: grey;
    border-radius: 25px;
}

.bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 20px;

    border-radius: 25px;

    background-color: white;  
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;

    background-image: linear-gradient(90deg, transparent 60px, rgb(73, 69, 69) 5px);
    background-size: 65px 20px;
    z-index: 1;
}