a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Lato Regular';
	font-size: 18px;
	line-height: 26px;
	color: #333333;
}

.content-box-component {
	box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border:0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	padding: 10px 30px;
    display: flex;
    justify-content: center;
	align-items: center;
	
	color: $akcent;

	background-color: transparent;
	border: 2px solid $akcent;
	border-radius: 23px;
	cursor: pointer;
	&:hover {
		background-color: $hoverBtn;
		border: 2px solid #ED9E78;
	}
	&:active {
		background-color: $akcent;
		color: #ffffff;
	}
}

.btn-fon {
	padding: 10px 30px;
    display: flex;
    justify-content: center;
	align-items: center;
	
	color: #ffffff;

	background-color: $akcent;
	border: none;
	border-radius: 23px;
	cursor: pointer;
	&:hover {
		background-color: $hoverBtnFon;
	}
}

.snap {
	display: flex;
	justify-content: center;
	align-items: center;

	border: none;
	background-color: transparent;
	cursor: pointer;
	
	background-repeat: no-repeat;
    background-position: center;
}

.nav-list {
	@include ul-reset();
	@include display-flex();
}

.product-list {
	@include ul-reset();
    margin-left: -20px;

    display: flex;
    flex-wrap: wrap;
}

.card {
	margin-left: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
}

.card-description__wrapper {
    width: 100%;
    padding: 24px;
    padding-top: 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

.card__price {
    margin: 0;
    padding: 0;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.stars-rating__svg {
	width: 120px;
	height: 24px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card--akcent {
    width: 390px;
    height: 285px;
    margin-left: 0px;
    padding: 30px;

    flex-direction: row-reverse;
    align-items: center;

    background: #EDFDFA;

    & .card-description__wrapper {
      width: 173px;
      min-height: 114px;
      margin-right: 11px;
      padding: 0px;
      justify-content: space-between;
    }

    & .card__title {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
    }
    & .card__title-sign {
        margin-top: 20px;

        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        text-transform: none;
    }
    & .card__price {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
    }
}

// SELECT!!!
.__select {
    position: relative;
    width: 230px;
    height: 40px;
    margin: 0 auto;
  
    &[data-state="active"] {
      .__select__title {
        border-bottom: solid 2px $akcent;
        &::before {
          background-image: url(../images/svg/select-snap--active.svg);
        }
      }
      
      .__select__content {
        opacity: 1;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
      }
      
      .__select__label + .__select__input + .__select__label {
        max-height: 40px;
        border-top-width: 1px;
      }
    }
  }
  .__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
  
    border-bottom: solid 2px rgba(51, 51, 51, 0.2);
    
    cursor: pointer;
  
    &::before {
      content: "";
  
      position: absolute;
      top: 50%;
      right: 0px;
  
      display: block;
      width: 24px;
      height: 24px;
  
      transition: all 0.3s ease-out;
      transform: translateY(-50%);
      background-image: url(../images/svg/select-snap.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  
    &:hover {  
      border-bottom: solid 2px $akcent;
      &::before {
        background-image: url(../images/svg/select-snap--hover.svg);
      }
    }
  }
  
  .__select__content {
    position: absolute;
    top: 40px;
    left: 3px;
  
    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);
  
    background-color: #ffffff;
    
    transition: all 0.3s ease-out;
  
    opacity: 0;
    z-index: 8;
  }
  .__select__input {
    display: none;
  
    &:checked + label {
    //   background-color: #dedede;
    }
    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
  }
  .__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 0 16px;
    
    transition: all 0.2s ease-out;
  
    cursor: pointer;
    
    overflow: hidden;
  
    & + input + & {
      border-top: 0 solid #ffffff;
    }
  
    &:hover {
      background-color: rgba(248, 219, 205, 0.2) !important;
  
      color: #000000;
    }
  }

.link {
  position: relative;
  display: flex;
  margin-left: 0px;
  padding-left: 14px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.3);

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0px;

    width: 14px;
    height: 14px;

    background-image: url(../images/fon/breadcrumbs-fon.svg);
    background-repeat: no-repeat;
    background-position: center;

  }

  &--active {
    color: $akcent;
    &::before {
      background-image: url(../images/fon/breadcrumbs-fon--active.svg);
    }
  }
}

.container {
	width: 1160px;
    margin: 0 auto;
	padding: 0;
}

.container--comment-block {
	width: 1256px;
	margin: 0 auto;
	padding: 0;
}